.nav-wrapper{
    background-color: #3949ab;
}

#rg{
    background-color: white;
}
#lef{
    background-color: #c62828;
}
#footer2{
    background-color: #3949ab;
}
#footer3{

    background-color: #283593;
}